.calendar {
  display: flex;
  position: relative;
  padding: 16px;
  margin: 0 auto;
  /* max-width: 350px; */
  max-width: 600px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.month-year {
  position: absolute;
  width: 276px;
  bottom: 130px;
  right: -115px;
  text-align: end;
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  color: #94A3B8;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.year {
  margin-left: 4px;
  color: #CBD5E1;
}

.days {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: 46px;
}

.day-label {
  position: relative;
  flex-basis: calc(14.286% - 2px);
  margin: 1px 1px 12px 1px;
  font-weight: 700;
  /* font-size: 0.65rem; */
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #1E293B;
  width: 40px;
}

@media screen and (max-width: 550px) {
  .day-label {
    font-size: 0.67rem;
  }
}
.day {
  position: relative;
  flex-basis: calc(14.286% - 2px);
  margin: 1px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (max-width: 550px) {
  .day {
    font-size: 1rem;
  }
}
.day-today-table-calendar {
  background: #E0F2FE !important;
  font-weight: bold !important;
  color: #0EA5E9 !important;
}

.day.night-shift {
  background: rgba(102, 145, 255, 0.5490196078);
}

.day.day-shift {
  background: rgba(255, 209, 102, 0.5490196078);
}

.day.day-free {
  background: rgba(164, 245, 147, 0.5490196078);
}

.day.dull {
  color: #94A3B8;
}

.day.today {
  color: #0EA5E9;
  font-weight: 600;
  background: #E0F2FE;
}

.day::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.day:hover {
  background: #E0F2FE;
}

.day .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-current-day {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}

.calendar-current-day-title-month {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  font-size: 1.4rem;
  color: white;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.calendar-current-day-day-nr {
  font-size: 3.5rem;
  text-align: center;
}

.calendar-current-day-day-nr {
  font-size: 3.5rem;
  text-align: center;
}

.calendar-current-day-day-title {
  text-align: center;
  font-weight: bold;
}

.week-table > table > tbody > tr {
  height: 75px;
}

.week-table {
  width: 100%;
}
.week-table__th {
  color: #4e73df !important;
  background: aliceblue !important;
}
.week-table__th-active {
  background-color: cornflowerblue !important;
  color: white !important;
}

.schedule-weeks-table-div {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .schedule-weeks-table-div {
    max-width: calc(100% - 525px);
  }
  .week-table {
    width: 280px;
  }
}/*# sourceMappingURL=calendar.css.map */