@media only screen and (min-width: 992px){
    .footer-chat {
        width: calc(100% - 400px) !important;
    }
}

.chat {
    width: 100%;
    padding-right: 0px;
}


// Files
.files-box-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .file{
        width: 75px;
        border-radius: 5px;
        &__icon{text-align: center;}
        &__title{
            text-align: center;
            font-size: 14px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        position: relative;

        &__date{
            text-overflow: ellipsis;
            position: absolute;
            top: 70px;
            bottom: 0;
            display:block;
            width: 145px;
            height: 33px;
            text-align: center;
            font-size: 10px;
            border-radius: 5px;
            z-index: 1;
            color: #c4c4c4;
            background-color: #1d1d1d;
            border: 1px solid #292929;
            opacity : 0;
            transition:opacity 1s;
            transition-delay: 1s;
        }
    }
}

.files-box-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;

    .file{
        width: 100%;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        justify-content: space-between;

        &__icon{
            text-align: left;
            margin: 0 50px 0 20px;
            width: 32px;
        }
        &__title{
            margin: auto 0;
            text-align: center;
            font-size: 14px;
        }

        &__date{
            margin: auto 20px auto 0;
            text-align: center;
            font-size: 14px;
        }

        &__delete-btn{
            position:relative;
            padding: 0.6rem;
        }

        &__delete-btn:hover{
            color:#E02D1B;
        }


    }
}

.file{
    cursor: pointer;
    width: 75px;
    border-radius: 5px;

    &__icon{
        text-align: center;
        font-size: 2rem;
        text-shadow: 0px 0px 5px rgba(86, 86, 86, 0.3607843137);
    }

    .file-icon{
        color:#fff;
    }

    .folder-icon{
        color:#fff65a;
    }

    &__title{
        // background-color: red;
        color: black;
        text-align: center;
        font-size: 14px;
    }

    &__delete-btn{
        color:#E74A3B;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__delete-btn:hover{
        color:#E02D1B;
    }
}

.file:hover{
    background: #e3e4e7;
    &__date{
       visibility: visible;
    }

    &__title{
        overflow: visible;
    }
}

.file {
    &:hover {
      & .file__date {
        opacity : 1;
      }
    }
}

input[type=file]{
    border: 1px solid black;
    border-radius: 0.2rem;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #4E73DF;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  input[type=file]::file-selector-button:hover {
    background: #2E59D9;
  }
